<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>Add a new student account</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/skill_sharing.css"
        th:href="@{/css/skill_sharing.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
  <h2>Introduce your info</h2>
  <form class="form-horizontal" action="#" th:action="@{/student/add}"
        th:object="${student}" method="post">
    <div class="form-group row">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="username" minlength="8" th:minlength="8" maxlength="8" th:maxlength="8"
               th:field="*{username}" required/>
      </div>
      <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password" th:field="*{password}" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" th:field="*{name}" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="surname">Surname:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" th:class="${#fields.hasErrors('surname')} ? needcorrection" id="surname"
               th:field="*{surname}" required/>
      </div>
<!--      <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>-->
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-4">
        <input type="email" th:class="${#fields.hasErrors('email')} ? needcorrection" class="form-control" id="email"
               th:field="*{email}" required/>
        <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="street">Street:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="street" th:field="*{street}" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="number">Number:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" th:class="${#fields.hasErrors('number')} ? needcorrection" min="1"
               th:min="1" id="number" th:field="*{number}" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="pc">Postal code:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" th:class="${#fields.hasErrors('number')} ? needcorrection" min="1"
               th:min="1" id="pc" th:field="*{pc}" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="locality">Locality:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="locality" th:field="*{locality}" required/>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="degree">Degree:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="degree" th:field="*{degree}" required/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary">Create account</button>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-4">
        <p>Already have an account? <a href="../login">Log in</a></p>
      </div>
    </div>
  </form>
</div>
</body>
</html>