<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage skills</title>
    <meta charset="UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <h1>List of skills available in the platform</h1>
    <div th:if="${#lists.isEmpty(students)}">
        <h2>There are currently no students in the platform</h2>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(students)}">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Username</th>
            <th>Blocked</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${#lists.sort(students)}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.username}"></td>
            <td th:text="${student.blocked}"></td>
            <td th:if="${session.user != null and session.user.isSkp}">
                <a th:href="@{/student/statistics/{username}(username=${student.username})}" class="btn btn-info"
                   role="button">Student statistics</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>