<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Profile</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <h2 class="titulo-seccion">Your profile</h2>

    <div class="formulario form-horizontal" th:object="${student}">
        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Username:</span>
            <input type="text" class="form-control" th:field="${student.username}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3" hidden>
            <span class="input-group-text">Password:</span>
            <input type="password" class="form-control" th:field="${student.password}" readonly hidden/>
        </section>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Name:</span>
            <input type="text" class="form-control" th:field="${student.name}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Street:</span>
            <input type="text" class="form-control" th:field="${student.street}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Number:</span>
            <input type="number" class="form-control" th:field="${student.number}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Postal Code:</span>
            <input type="number" class="form-control" th:field="${student.pc}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Locality:</span>
            <input type="text" class="form-control" th:field="${student.locality}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Email:</span>
            <input type="email" class="form-control" th:field="${student.email}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Balance of hourse:</span>
            <input type="number" class="form-control" th:field="${student.balanceHours}" readonly/>
        </section>

        <section class="input-group input-group-sm mb-3" hidden>
            <span class="input-group-text">Blocked:</span>
            <input type="text" class="form-control" th:field="${student.blocked}" readonly/>
        </section>

        <section class="section-btn-login">
            <a th:href="@{/student/update/{username}(username=${student.username})}" id="blanco" class="btn btn-UJI">Change Profile</a>
        </section>
    </div>
</div>
</body>
</html>