<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Add skill</title>
    <meta charset="UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <div class="titulo-seccion-back">
        <a href="#" onClick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-nut-fill" viewBox="0 0 16 16" >
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </a>
        <h2>New skill</h2>
    </div>
    <form class="formulario form-horizontal" action="#" th:action="@{/skill/add}" th:object="${skill}" method="post">

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Name:</span>
            <input type="text" maxlength="30" class="form-control" id="name" th:field="*{name}" required/>
        </section>
        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="font-size:15px"></p>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Description:</span>
            <input type="text" maxlength="30" class="form-control" id="description" th:field="*{description}" required/>
        </section>
        <p class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="font-size:15px"></p>

        <section class="input-group input-group-sm mb-3">
            <span class="input-group-text">Level:</span>
                <select class="form-select" aria-label="Default select example" th:type="text" id="level" th:field="*{level}">
                    <option th:each="level : ${skillLevels}" th:value="${level}" th:text="${level}"></option>
                </select>
        </section>
        <p class="error" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></p>


        <div class="form-group row" hidden>
            <label class="control-label col-sm-2">Canceled </label>
            <div class="col-sm-4">
                <input id="canceled" type="checkbox" style="width: 30px; height: 30px" class="form-check-input" value="checkbox" th:field="*{canceled}"/>
            </div>
        </div>

        <section class="section-btn-login">
            <button type="submit" class="btn btn-UJI">Create skill</button>
        </section>
    </form>
</div>
</body>
</html>