<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ><a class="nav-link" href="/skill/list" th:href="@{/skill/list}">See skills</a></li>
      <li class="nav-item" ><a class="nav-link" href="/request/list" th:href="@{/request/list}">See requests</a></li>
      <li class="nav-item" ><a class="nav-link" href="/offer/list" th:href="@{/offer/list}">See offers</a></li>
    </ul>
  </div>
</nav>
