<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ><a class="nav-link" href="/gestorMunicipal/perfil" th:href="@{/gestorMunicipal/perfil}">Página principal</a></li>
      <li class="nav-item" ><a class="nav-link" href="/espacioPublico/list" th:href="@{/espacioPublico/list}">Lista de Espacios</a></li>
      <li class="nav-item" ><a class="nav-link" href="/servicios/list" th:href="@{/servicios/list}">Ver Servicios</a></li>
      <li class="nav-item" ><a class="nav-link" href="/reserva/list" th:href="@{/reserva/list}">Ver Reservas</a></li>

    </ul>
  </div>
</nav>
